<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
		<script src="https://use.fontawesome.com/f4df917d00.js"></script>
	</head>

	<body>
		<header>
			<a href="index.html" id="logo">RECREATION USA</a>
			<div id="searchform">
				<form action="search.html">
					<button  type="submit"><i class="fa fa-search fa-lg"></i></button>
					<div id="searchinp"><input type="text" /></div>
					<div class="clear"></div>
				</form>
			</div>
			<div id="subhead">
				<a id="cart" href="checkout.html">1 item <i class="fa fa-shopping-cart fa-2x"></i></a>
			</div>
		</header>
		<nav>
			<div id="navinner" class="cwidth">
				<a href="index.html" class="navitem">Home</a>
				<a href="products.html" class="navitem">Products</a>
				<a href="contact.html" class="navitem">Contact</a>
			</div>
		</nav>
		<main>
			<section class="cwidth">
				<div class="prodct">
					<a href="product-bike.html" class="prodthumb"><img src="imgs/bike1.jpg"></a>
					<a href="product-bike.html" class="prodname">2016 Cool Bike</a>
				</div>
				<div class="clear"></div>
				<div id="checkout-subtotal">
					<span class="prodprice"><b>Cart subtotal</b>: $499.99</span>
					<br><br>
					<button onclick="location.href='payment.html';">Checkout</button>
				</div>
			</section>

		</main>
	</body>
</html>