<html>
	<head>
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="import" href="/assets/head-bootstrap.html">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<script src="https://use.fontawesome.com/f4df917d00.js"></script>
	</head>

	<body>
		<header>
			<a href="/client" id="logo">RECREATION USA</a>
			<div id="searchform">
				<form action="search">
					<button  type="submit"><i class="fa fa-search fa-lg"></i></button>
					<div id="searchinp"><input type="text" /></div>
					<div class="clear"></div>
				</form>
			</div>
			<div id="subhead">
				<a id="cart" href="checkout">1 item <i class="fa fa-shopping-cart fa-2x"></i></a>
			</div>
		</header>
		<nav>
			<div id="navinner" class="cwidth">
				<a href="/client" class="navitem">Home</a>
				<a href="products" class="navitem">Products</a>
				<a href="contact" class="navitem">Contact</a>
			</div>
		</nav>
		<main>
			<section class="cwidth">
				<form id="ctform">
					<div class="form-group">
						<span class="form-label">Name</span><br>
						<input type="text" id="name">
					</div>
					<br>
					<div class="form-group">
						<span class="form-label">Email</span><br>
						<input type="text" id="email">
					</div>
					<br>
					<div class="form-group">
						<span class="form-label">Message</span><br>
						<textarea id="message"></textarea>
					</div>
					<br><br>
					<button onclick="submitform();">Submit</button>
				</form>
			</section>
		</main>
		<script type="text/javascript">
			function submitform(){
				var ctform = document.getElementById("ctform");

				var ticket = {
					id: 1,
					user_id: 1,
					description: document.getElementById("message").value,
					salesperson_id: 1
				}

				var p = {
					database: "Support",
					table: "table1",
					item: ticket
				}

				$.ajax({
					method: "PUT",
					url:'/api/put/Support/table1/1?key=m1chael',
					params: p
				});


				$.ajax({
					method: "GET",
					url:'/api/list/Support/table1?key=m1chael',
					params: {database:"Support"},
					success: function (data){
						var $response = $(data);
						console.log($response);
					}
				})

				ctform.innerHTML = "Your ticket has been submitted. We will be in touch shortly!";
			}
		</script>
	</body>
</html>
