<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
		<script src="https://use.fontawesome.com/f4df917d00.js"></script>
	</head>

	<body>
		<header>
			<div id="logo">RECREATION USA</div>
			<div id="searchform">
				<form action="search.html">
					<button><i class="fa fa-search fa-lg"></i></button>
					<div id="searchinp"><input type="text" /></div>
					<div class="clear"></div>
				</form>
			</div>
		</header>
		<nav>
			<div id="navinner" class="cwidth">
				<a href="" class="navitem">Home</a>
				<a href="products.html" class="navitem">Products</a>
				<a href="contact.html" class="navitem">Contact</a>
			</div>
		</nav>
		<main>
			<section class="cwidth">
				<div class="bannerad"></div>
				<div class="sectionhead">Featured Products</div>
				<div class="prodct">
					<a href="product-bike.html" class="prodthumb"><img src="imgs/bike1.jpg"></a>
					<a href="product-bike.html" class="prodname">2016 Cool Bike</a>
					<div class="prodrating">
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star-o star"></i>
					</div>
				</div>
				<div class="prodct">
					<a href="product-bike.html" class="prodthumb"><img src="imgs/bike2.jpg"></a>
					<a href="product-bike.html" class="prodname">2016 Dope Bike</a>
					<div class="prodrating">
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star-half-o star"></i>
					</div>
				</div>
				<div class="prodct">
					<a href="product-bike.html" class="prodthumb"><img src="imgs/bike3.jpg"></a>
					<a href="product-bike.html" class="prodname">2019 Swaggie Bike</a>
					<div class="prodrating">
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
					</div>
				</div>
				<div class="clear"></div>
			</section>
		</main>
		<footer id="footer"></footer>
	</body>
</html>