<html>
	<head>
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="import" href="/assets/head-bootstrap.html">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<script src="https://use.fontawesome.com/f4df917d00.js"></script>
	</head>

	<body>
		<header>
			<a href="/client" id="logo">RECREATION USA</a>
			<div id="searchform">
				<form action="search">
					<button  type="submit"><i class="fa fa-search fa-lg"></i></button>
					<div id="searchinp"><input type="text" /></div>
					<div class="clear"></div>
				</form>
			</div>
			<div id="subhead">
				<a id="cart" href="checkout">1 item <i class="fa fa-shopping-cart fa-2x"></i></a>
			</div>
		</header>
		<nav>
			<div id="navinner" class="cwidth">
				<a href="/client" class="navitem">Home</a>
				<a href="products" class="navitem">Products</a>
				<a href="contact" class="navitem">Contact</a>
			</div>
		</nav>
		<main>
			<section class="cwidth">
				<div class="sectionhead">Order Summary</div>
				<div class="prodct">
					<a href="product-bike" class="prodthumb"><img src="/assets/imgs/bike1.jpg"></a>
					<a href="product-bike" class="prodname">2016 Cool Bike</a>
				</div>
				<div id="checkout-subtotal">
					<span class="prodprice"><b>Cart subtotal</b>: $499.99</span>
					<br>
					<span class="prodprice"><b>Tax</b>: $50.00</span>
					<br>
					<div style="width:200px;border-bottom:1px solid #333;height:1px;display:inline-block;"></div>
					<br>
					<span class="prodprice"><b>Total</b>: $549.99</span>
					<br><br>
				</div>
				<div class="sectionhead">Payment Information</div>
				<form id="ctform">
					<div class="form-group">
						<span class="form-label">Email</span><br>
						<input type="text" id="email">
					</div>
					<br>
					<div class="form-group">
						<span class="form-label">Billing Address</span><br>
						<input type="text" id="billaddr">
					</div>
					<br>
					<div class="form-group">
						<span class="form-label">Credit Card Info</span><br>
						<input type="text" id="ccinfo">
					</div>
					<br>
					<button onclick="submitorder();">Place Order</button>
				</form>
			</section>
		</main>
		<script type="text/javascript">
			function submitorder(){
				var ctform = document.getElementById("ctform");


				var order = {
					id: 1,
					user_id: 1,
					product_id: 1,
					salesperson_id: 1,
					quantity: 1
				}

				$.ajax({
					method: "PUT",
					url:'/services/sales-force-automation/order',
					data: JSON.stringify(order),
					contentType: 'application/json'
				}).done(function() {
		      ctform.innerHTML = "Your order has been submitted. A confirmation email will be sent shortly!";
		    }).fail(function() {
		      ctform.innerHTML = "Failed order to place order. Place try again later!";
		    });

				$.ajax({
					method: "GET",
					url:'/api/list/Orders/table1?key=m1chael',
					success: function (data){
						var $response = $(data);
						console.log($response);
					}
				});

			}
		</script>
	</body>
</html>
