<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<link rel="import" href="../../assets/head-bootstrap.html">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
		<script src="https://use.fontawesome.com/f4df917d00.js"></script>
	</head>

	<body>
		<header>
			<a href="index.html" id="logo">RECREATION USA</a>
			<div id="searchform">
				<form action="search.html">
					<button  type="submit"><i class="fa fa-search fa-lg"></i></button>
					<div id="searchinp"><input type="text" /></div>
					<div class="clear"></div>
				</form>
			</div>
			<div id="subhead">
				<a id="cart" href="checkout.html">1 item <i class="fa fa-shopping-cart fa-2x"></i></a>
			</div>
		</header>
		<nav>
			<div id="navinner" class="cwidth">
				<a href="index.html" class="navitem">Home</a>
				<a href="products.html" class="navitem">Products</a>
				<a href="contact.html" class="navitem">Contact</a>
			</div>
		</nav>
		<main>
			<section class="cwidth">
				<div class="placeholder">&nbsp;</div>
				<div class="sectionhead">2016 Cool Bike</div>
				<div>
					<div class="prodimg"><img src="imgs/bike1.jpg"></div>
					<div class="proddesc">
						<div>
							<i class="fa fa-star star"></i>
							<i class="fa fa-star star"></i>
							<i class="fa fa-star star"></i>
							<i class="fa fa-star star"></i>
							<i class="fa fa-star-o star"></i>
							&nbsp;|&nbsp;
							8 customer reviews
						</div>
						<br>
						<span class="prodprice">$499.99</span>
						<button type="button" onclick="location.href='checkout.html';" class="btn btn-info">Add to cart</button>
						<br><br>
						<div class="prodinfo">
							<span class="infolabel">Model:&nbsp;</span>
							<span class="infoval">2K16-COOL-BIKE</span>
						</div>
						<div class="prodinfo">
							<span class="infolabel">Tires:&nbsp;</span>
							<span class="infoval">Yes</span>
						</div>
						<div class="prodinfo">
							<span class="infolabel">Red:&nbsp;</span>
							<span class="infoval">Yes</span>
						</div>
						<div class="prodinfo">
							<span class="infolabel">Functioning:&nbsp;</span>
							<span class="infoval">Yes</span>
						</div>
						<div class="prodinfo">
							<span class="infolabel">Cool:&nbsp;</span>
							<span class="infoval">Most definitely&nbsp;&nbsp;&nbsp;<i class="fa fa-hand-peace-o fa-lg"></i></span>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<br><br>
				<div class="sectionhead">8 Customer Reviews</div>
				<section>
					<div class="prodreview">
						<div class="userthumb">
							<img src="imgs/profile.png">
							<div class="username">Jason</div>
						</div>
						<div class="userreview">
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star-o fa-lg star"></i>
							<br><br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="clear"></div>
					</div>
					<div class="prodreview">
						<div class="userthumb">
							<img src="imgs/profile.png">
							<div class="username">Jaesun</div>
						</div>
						<div class="userreview">
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star-half-o fa-lg star"></i>
							<br><br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="clear"></div>
					</div>
					<div class="prodreview">
						<div class="userthumb">
							<img src="imgs/profile.png">
							<div class="username">Jay Son</div>
						</div>
						<div class="userreview">
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star fa-lg star"></i>
							<i class="fa fa-star-o fa-lg star"></i>
							<i class="fa fa-star-o fa-lg star"></i>
							<br><br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="clear"></div>
					</div>
					<div class="reviews-more">
						<i class="fa fa-angle-down"></i> show more
					</div>
				</section>
				<br><br>
				<div class="sectionhead">Related Products</div>
				<div class="prodct">
					<a href="product-bike.html" class="prodthumb"><img src="imgs/bike2.jpg"></a>
					<a href="product-bike.html" class="prodname">2016 Dope Bike</a>
					<div class="prodrating">
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star-half-o star"></i>
					</div>
				</div>
				<div class="prodct">
					<a href="product-bike.html" class="prodthumb"><img src="imgs/bike3.jpg"></a>
					<a href="product-bike.html" class="prodname">2019 Swaggie Bike</a>
					<div class="prodrating">
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>