<html>
	<head>
		<link rel="stylesheet" href="/assets/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<script src="https://use.fontawesome.com/f4df917d00.js"></script>
	</head>

	<body>
		<header>
			<a href="/client" id="logo">RECREATION USA</a>
			<div id="searchform">
				<form action="search">
					<button  type="submit"><i class="fa fa-search fa-lg"></i></button>
					<div id="searchinp"><input type="text" /></div>
					<div class="clear"></div>
				</form>
			</div>
			<div id="subhead">
				<a id="cart" href="checkout">1 item <i class="fa fa-shopping-cart fa-2x"></i></a>
			</div>
		</header>
		<nav>
			<div id="navinner" class="cwidth">
				<a href="/client" class="navitem">Home</a>
				<a href="products" class="navitem">Products</a>
				<a href="contact" class="navitem">Contact</a>
			</div>
		</nav>
		<main>
			<section class="cwidth">
				<div class="placeholder"></div>
				<div class="sectionhead">1 result for "lorem ipsum"</div>
				<div class="prodct">
					<a href="product-bike" class="prodthumb"><img src="/assets/imgs/bike1.jpg"></a>
					<a href="product-bike" class="prodname">2016 Cool Bike</a>
					<div class="prodrating">
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star star"></i>
						<i class="fa fa-star-o star"></i>
					</div>
				</div>
				<div class="clear"></div>
			</section>

		</main>
	</body>
</html>
