<html>
  <head>
    <title>Services Portal</title>
<link rel="stylesheet" href="/assets/css/marketing.css">
    <link rel="import" href="/assets/head-bootstrap.html">
    <!-- <script src="/assets/head-bootstrap.html"></script> -->
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Services Portal</h1>
        <p>This is the internal portal containing all the marketing tools!</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Sales Trend Forecasting</h2>
          <p>See future sales forecasts!</p>
          <p><a class="btn btn-default" href="services/sales-trend-forecasting" role="button">Launch</a></p>
        </div>
        <div class="col-md-4">
          <h2>Salesforce Automation</h2>
          <p>Lets improve sales!</p>
          <p><a class="btn btn-default" href="services/sales-force-automation" role="button">Launch</a></p>
       </div>
      </div>

    </div>
  </body>
</html>
