<html>
<link rel="stylesheet" href="/assets/css/marketing.css">
<style>
  body {
    font-family: "Lato", sans-serif;
  }

  div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  /* Style the links inside the tab */

  div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
  }
  /* Change background color of links on hover */

  div.tab a:hover {
    background-color: #ddd;
  }
  /* Create an active/current tablink class */

  div.tab a:focus,
  .active {
    background-color: #ccc;
  }
  /* Style the tab content */

  .tabcontent {
    display: none;
    padding: 3px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .topright:hover {
    color: red;
  }

  .ticket__list {

  }

  .ticket__container {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
  }

  .ticket__name {

  }

  .ticket__description {

  }

  .bold {
    font-weight: bold;
  }

</style>

<head>
  <title>Sales Force Automation</title>
  <link rel="import" href="/assets/head-bootstrap.html">
  <!-- <script src="/assets/head-bootstrap.html"></script> -->
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Sales Force Automation</h1>
      <p></p>
    </div>
  </div>


  <div class="tab">
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'outstanding_tickets')" id="defaultOpen">Help Desk Tickets</a>
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'orders')">Orders</a>
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'sales_people')">Sales People</a>
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'leads')">Leads</a>
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'new_ticket')">New Order</a>
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'new_lead')">New Lead</a>
  </div>

  <div id="outstanding_tickets" class="tabcontent">
    <h3 style="border-bottom: black 1px solid;">Outstanding Tickets</h3>
    <div class="ticket__list">
    </div>
  </div>

  <div id="orders" class="tabcontent">
    <h3 style="border-bottom: black 1px solid;">Orders</h3>
    <div class="ticket__list">
    </div>
  </div>

  <div id="sales_people" class="tabcontent">
    <h3 style="border-bottom: black 1px solid;">Sales People</h3>
    <div class="ticket__list">
    </div>
  </div>

  <div id="leads" class="tabcontent">
    <h3 style="border-bottom: black 1px solid;">Leads</h3>
    <div class="ticket__list">
    </div>
  </div>

  <div id="new_ticket" class="tabcontent">
    <h3 style="border-bottom: black 1px solid;">New Order</h3>
    <div class="ticket__list">
      <div class="ticket__container">
        <div class="ticket__description">
          <span class="bold">Customer ID: </span><input class="user_id" />
        </div>
        <div class="ticket__description">
          <span class="bold">Product ID: </span><input class="product_id"/>
        </div>
        <div class="ticket__description">
          <span class="bold">Quantity: </span><input class="quantity" />
        </div>
      </div>
      <br />
    </div>
    <button onclick="newOrderForm();">Submit</button>
  </div>


  <div id="new_lead" class="tabcontent">
    <h3 style="border-bottom: black 1px solid;">New Lead</h3>
    <div class="ticket__list">
      <div class="ticket__container">
        <div class="ticket__description">
          <span class="bold">Name </span><input class="name"/>
        </div>
        <div class="ticket__description">
          <span class="bold">Phone Number: </span><input class="phone_number" />
        </div>
        <div class="ticket__description">
          <span class="bold">Description: </span><textarea class="description"></textarea>
        </div>
      </div>
      <br />
    </div>
    <button onclick="newLeadForm();">Submit</button>
  </div>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

<script type="text/javascript">

  // get help desk tickets
  $.ajax({
    method: "GET",
    url:'/api/list/Support/table1?key=m1chael',
    success: function (data){
      var $response = $(data);
      $.ajax({
        method: "GET",
        url:'/api/external/crm/customers',
        success: function (customerData){
          var customerData = JSON.parse(customerData);
          customerMap = {};
          customerData.forEach(function(customer) {
            customerMap[customer.id] = customer;
          });

          debugger;

          $ticketContainer = $("#outstanding_tickets .ticket__list");
          $response.toArray().forEach(function(item) {
            $ticketContainer.prepend($([
              "<div class='ticket__container'>",
              "  <div class='ticket__name'><span class='bold'>User Name: </span>" + customerData[item.user_id].firstname + " " + customerData[item.user_id].lastname +"</div>",
              "  <div class='ticket__name'><span class='bold'>Description: </span>" + item.description+"</div>",
              "</div>",
              "<br />"
            ].join("\n")));
          });
        }
      });
    }
  });

  // sales sales_people
  $.ajax({
    method: "GET",
    url:'/api/external/hrm/salespeople',
    success: function (data){
      var splitLines = data.match(/[^\r\n]+/g);
      var $response = $(data);
      $ticketContainer = $("#sales_people .ticket__list");
      splitLines.forEach(function(item) {
        salesData = item.split(" ");
        $ticketContainer.prepend($([
          "<div class='ticket__container'>",
          "  <div class='ticket__name'><span class='bold'>Name: </span>" + salesData[0] + " " + salesData[1] +"</div>",
          "  <div class='ticket__name'><span class='bold'>ID: </span>" + salesData[2] +"</div>",
          "</div>",
          "<br />"
        ].join("\n")));
      });
    }
  });

  // orders ticke
  $.ajax({
    method: "GET",
    url:'/api/list/Orders/table1?key=m1chael',
    success: function (data){
      var $response = $(data);
      $ticketContainer = $("#orders .ticket__list");
      $response.toArray().forEach(function(item) {
        $ticketContainer.prepend($([
          "<div class='ticket__container'>",
          "  <div class='ticket__name'><span class='bold'>User Id: </span>" + item.user_id +"</div>",
          "  <div class='ticket__name'><span class='bold'>Product ID: </span>" + item.product_id+"</div>",
          "  <div class='ticket__name'><span class='bold'>Quantity: </span>" + item.quantity+"</div>",
          "  <div class='ticket__name'><span class='bold'>Sales Person ID: </span>" + item.salesperson_id+"</div>",
          "</div>",
          "<br />"
        ].join("\n")));
      });
    }
  });

  // leads
  $.ajax({
    method: "GET",
    url:'/api/list/Leads/table1?key=m1chael',
    success: function (data){
      var $response = $(data);
      $ticketContainer = $("#leads .ticket__list");
      $response.toArray().forEach(function(item) {
        $ticketContainer.prepend($([
          "<div id='lead" + item.id + "' class='ticket__container'>",
          "  <div class='ticket__name'><span class='bold'>Name: </span>" + item.name +"</div>",
          "  <div class='ticket__name'><span class='bold'>Phone Number: </span>" + item.phone_number+"</div>",
          "  <div class='ticket__name'><span class='bold'>Description: </span>" + item.description+"</div>",
          "<div class='ticket__name'><button onclick='assignLead(\"" + item.id +"\");'>Assign Lead</button></div>",
          "</div>",
          "<br />"
        ].join("\n")));
      });
    }
  });


</script>

<script type="text/javascript">
  function newLeadForm(){
    var leadForm = document.getElementById("new_lead");

    $.ajax({
      method: "PUT",
      url:'/api/put/Leads/table1?key=m1chael',
      data: JSON.stringify({
        name: $("#new_lead input.name").val(),
        phone_number: $("#new_lead input.phone_number").val(),
        description: $("#new_lead textarea").val()
      }),
      contentType: 'application/json'
    });

    leadForm.innerHTML = "Your order has been submitted. We will be in touch shortly!";
  }

  function assignLead(id) {
    /*
    debugger;
    $.ajax({
      method: "PUT",
      url:'/api/put/Leads/table1/' + id + '?key=m1chael',
      data: {
        id: parseInt(1),
        salesperson_id: parseInt(1)
      }
    }).done(function() {
      alert("Lead Assigned!");
    });
    */
    alert("Lead Assigned!");
  }

</script>

<script type="text/javascript">
  function newOrderForm(){
    var orderForm = document.getElementById("new_ticket");
    var product_id = parseInt($("#new_ticket input.product_id").val(), 10);
    var quantity = parseInt($("#new_ticket input.quantity").val(), 10);

    $.ajax({
      method: "PUT",
      url:'/services/sales-force-automation/order',
      data: JSON.stringify({
        user_id: parseInt($("#new_ticket input.user_id").val()),
        product_id: product_id,
        salesperson_id: 1,
        quantity: quantity
      }),
      contentType: 'application/json'
    }).done(function() {
      orderForm.innerHTML = "Your order has been submitted. We will be in touch shortly!";
    }).fail(function(err) {
      orderForm.innerHTML = "Failed order to place order. Place try again later!";
      orderForm.innerHTML += "<br />" + err.responseText;
      console.log(err);
    });


  }
</script>


</body>

</html>
